html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
    
.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    height: 350px; 
}

input[type="checkbox"] {
    width: 16px;
    height: 19px;
    vertical-align: bottom;
    position: relative;
    top: -1px
}